@import 'variables';
@import 'mixins';

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background: map-get($colors, mback );
  padding: 5%;
  height: 100vh;
  width: 100vw;

  main{
    display: flex;
    align-items: center;
    justify-content: center;
    background: map-get($colors, cback );
    margin: 20px;
    color: white;
    height: 446px;
    border-radius: 15px;

    

    .text-sect{
      font-family: map-get($fonts , lex);
      font-size: 20px;
      font-weight: 400;
      text-aling: center;
      display: flex;
      // grid-template-columns: 3, 1fr;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: center;
      padding: 15px;
      // border: 1px solid red;

     .top{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;

      h1{
        color: map-get($colors, mhead );
        text-align: left;
        font-size: 33px;
        padding: 0 25px;
        // margin: 0 20px;

        span{
          color: map-get($colors , acc );
        }
      }
      

      p{
        color: map-get($colors, shead );
        text-align: left;
        font-size: 20px;
        padding: 0 25px;
      }
     }

      .things{
        // border: 1px solid red;
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        // padding: 12px;

        p{
          font-family: map-get($fonts , lex);
          font-size: 25px;
          font-weight: 700;
          color: map-get($colors, mhead );
          // margin: 2px 18px;
          // border: 1px solid yellow;

          span{
            font-family: map-get($fonts , lex);
            font-size: 15px;
            text-transform: uppercase;
            color: map-get($colors, parag );
            font-weight: 400;
          }
        }
      }
    }

    .img-sect{
      width: 550px;
      height: 446px;
      background-color: map-get($colors, acc);
      border-radius: 0 15px 15px 0;


      img{
        border-radius: 0 15px 15px 0;
        opacity: 0.5;
        // background-color: map-get($colors, acc);
      }
    }
  }

  .attribution{
    color: white;
  }
}
